<div id="header">

  <div id="header">
    <nav>
        <a class="btn" routerLink="userlibrary" routerLinkActive="active">User Library</a>
        <a class="btn" routerLink="Blogs" routerLinkActive="active">User Blog</a>
        <a class="btn" routerLink="login" routerLinkActive="active">Login</a>
        <a class="btn" routerLink="userprofile" routerLinkActive="active">Profile</a>
        <a class="btn" routerLink="register" routerLinkActive="active">Register as a User</a>
        <a class="btn" routerLink="blog" routerLinkActive="active">Read our Blog</a>
    </nav>



  <h1>
   The Book cafe!!
  </h1>

  <h3>A place where you and your friends can talk and share your favorite books</h3>
  <h5>You Can also interact with users from across the globe and talk their favorite books.</h5>
  
  </div>
  <router-outlet></router-outlet>